html {
	position: relative;
  min-height: 100%;
}

body {
	font-family: 'Open Sans', 'Lato', sans-serif;
	background-color: light;
}

nav {
	font-family: 'Lato', sans-serif;
}

code {
	font-family: 'Fira Code', 'SFMono-Regular', 'Menlo', 'Monaco', 'Consolas', 'Liberation Mono', 'Courier New', monospace;
}	
